<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <div class="inner-header">
              <h1>
                <a href="/">check<font color="#df4f00">iz</font></a>
                <span style="font-size: 1em;">&nbsp;on Github</span>
              </h1>
              <h2>simplify data checking</h2>
            </div>
            <div class="header-shadow"></div>
            <!-- <a class="extra" href="/">home</a> -->
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                checkiz repo<br/>
                checkiz pages
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/checkiz">github.com/checkiz</a><br />
                <a href="https://checkiz.github.io">checkiz.github.io</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
